.form-control.is-valid,
.was-validated .form-control:valid {
  background-position: left !important ;
}
.md-form .form-control.is-valid,
.md-form .form-control.is-invalid {
  background-position: left !important;
}
.md-form .form-control.is-invalid,
.was-validated .md-form .form-control:invalid {
  background-position: left !important;
}

.md-form{
  margin-bottom: 4.5rem;
  margin-top: 1.5rem;
}

.dz-error-message{
  display: none!important;
}
.dz-progress {
  display: none!important;
<<<<<<< HEAD
=======
}
input:focus, textarea:focus {
  outline-style: solid;
  outline-width: 2px;
}
textarea {
  max-height: "140px",
}
.md-form>input[type="date"]:not(.browser-default)+label {
  transform: translateY(-18px) scale(1);
}
.md-form  input[type="date"]:not(.browser-default) {
  padding : 0rem 0rem 0rem 0.9rem!important;
>>>>>>> origin
}