.myModal .modal-content {
  background-color: rgba(0, 0, 0, 0) !important;
}

.myContainer .modal-dialog .modal-content {
  box-shadow: none !important;
}

.myModal {
  pointer-events: none !important;
}
