body,
html {
  height: 100%;
  background: "#607d8b42";
}
.bgevent {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/socialtrip-f5408.appspot.com/o/BackGroundimg%2Fimage_6.jpg?alt=media&token=91753610-2a0e-4c79-a77f-22ff456aa2b4");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bggallery {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/socialtrip-f5408.appspot.com/o/BackGroundimg%2F%D7%9E%D7%A4%D7%AA%D7%97%20%D7%9C%D7%A9%D7%99%D7%A0%D7%95%D7%99-12.jpg?alt=media&token=184eca20-0720-44e7-8e10-af579a79de5c");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgcontactus {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/socialtrip-f5408.appspot.com/o/BackGroundimg%2F%D7%9E%D7%A4%D7%AA%D7%97%20%D7%9C%D7%A9%D7%99%D7%A0%D7%95%D7%99-171.jpg?alt=media&token=6144b879-54f7-4427-b02c-ff40d4bdee94");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgaboutus {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/socialtrip-f5408.appspot.com/o/BackGroundimg%2F20181003_123559.jpg?alt=media&token=41e3df27-2d91-4a6c-bc30-fb2337279dc04");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
